.text-elip{
  word-wrap: break-word;
}
.description{
  font-size: 22px;
}
.title{
  /* font-weight: bold; */
  font-size: 22px;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  word-wrap: break-word;
}
